#App{
  overflow: hidden;
  isolation: isolate;
  background-color: #1110;
  background-blend-mode: multiply;
  background-image: url("/src/assets/img/darkest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  
  /* padding: 0 2.5%; */
}
