@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Poppins", sans-serif;
}

button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.full{
  width: 100%;
  height: 100%;
}
.al-c{
  display: flex;
  align-items: center;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.spBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spEven{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.spArd{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.scrollable{
  overflow-y: scroll !important;
}
.scrollable::-webkit-scrollbar {
  width: 0.5vw;               
  height: 10vh;               
  border-radius: 10px;    
  padding-right: 0 2vw;  
  display: none;
}
.scrollable::-webkit-scrollbar-track {
  background: transparent;        
}
.scrollable::-webkit-scrollbar-thumb.priBlue{
  background-color: rgba(18, 106, 135, 1) !important;
  color: rgba(18, 106, 135, 1);
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #333;    
  border-radius: 20px;      
  border: 3px solid #333;  
}
.trans.scrollable::-webkit-scrollbar-thumb {
  background-color: red;    
  border-radius: 20px;      
  border: 3px solid transparent;  
}

.borderR{
  border: 2px solid red;
}
.borderB{
  border: 2px solid black;
}
.borderG{
  border: 2px solid green;
}